<script setup lang="ts">
import { defineAsyncComponent } from 'vue'
const TaskForm = defineAsyncComponent(() => import('@/views/HomePage/components/TaskForm/TaskForm.vue'))
const TaskList = defineAsyncComponent(() => import('@/views/HomePage/components/TaskList/TaskList.vue'))
</script>

<template>
  <div class="home">
    <div class="container text-center">
      <h1>Home page</h1>
      <TaskForm />
      <TaskList />
    </div>
  </div>
</template>
