<script setup lang="ts">
import { useCounterStore } from '@/stores/counter'
const counterStore = useCounterStore();  
</script>

<template>
  <div>
    <h1>Counter page</h1>
		<h2 id="count">Count is: {{ counterStore.countValue }}</h2>
		<button @click.prevent="counterStore.increment()" class="btn btn-success me-3 increment" type="button">Increment</button>
		<button @click.prevent="counterStore.decrement()" class="btn btn-success decrement" type="button">Decrement</button>
  </div>
</template>
