<script setup lang="ts">
import { defineAsyncComponent } from 'vue'
const ReloadPWA = defineAsyncComponent(() => import('@/PWA/ReloadPWA.vue'))
</script>

<template>
  <ReloadPWA />
  <header class="text-center mb-3 mt-4">
    <router-link to="/">Home page</router-link>
    <!-- <router-link to="/counter">Counter page</router-link> -->
    <router-link to="/about">About page</router-link>
  </header>
  <main class="text-center">
    <router-view></router-view>
  </main>
</template>
